.navbar-backend {
  border-bottom: 3px solid #9528b5;
}

.nav-link {
  font-size: 15px;
  color: #c0c5d0 !important;
}

.dropdown-item {
  color: #444444 !important;
}

.footer-backend {
  /*padding: 0px !important;*/
  background-color: #333;
  border-top: 3px solid #9528b5;
  overflow: hidden;
}

.top-padding {
  padding-top: 80px !important;
}

/* ---- Estilos para tabs en backend ------- */
.nav-tabs > .nav-item > .nav-link {
  color: #3490dc !important;
}

.nav-tabs > .nav-item > .nav-link.disabled {
  color: #c0c5d0 !important;
}

.nav-tabs > .nav-item > .nav-link.active {
  color: #212529 !important;
}