PROJECT_NAME=laravel13

APP_PORT=8080

MYSQL_PORT=3307
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=laravel13_db
MYSQL_USER=laravel13_user
MYSQL_PASSWORD=laravel13_pass

PMA_PORT=8081

NODE_PORT=5173

MAILPIT_PORT=8025