/************************************************************************************
		CSS ADAPTADO PARA EL NAVEGADOR Internet Explorer
*************************************************************************************/
#p_nombre {
	width: 183px;
}
#p_entre_calles_legal,
#p_entre_calles_real,
#p_zona_barrio_legal,
#p_zona_barrio_real {
	width: 472px;
}
#p_provincia_legal,
#p_provincia_real,
#p_telefono_legal,
#p_telefono_real {
	width: 230px;
}
#p_provincia_legal,
#p_provincia_real {
	margin-left: 3px;
}
#p_tel_mensajes_real {
	width: 140px;
}
