/******************************************************************
		CSS PARA Sistema de Personal
********************************************************************/
html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Arial;
	font-size: 0;
	background-color: #E6E6E6;
}
input[readonly="readonly"] {
	background-color: #EBEBE4;
}
input:focus {
	outline:1px dotted #2F4E95;
}
img {
	border: none;
}
a {
	text-decoration: none;
}
a:focus {
	outline: 0px;
}
a[class="boton_en_edicion"]:focus {
	outline:1px dotted #2F4E95;
}
select {
	font-size: 11px;
}
table {
	border-collapse: collapse;
	border: none;
}
td {
	padding: 0;
}
#mb_close_link {
	visibility: hidden;
}

.checkbox_con_texto label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.checkbox_con_texto input[type="checkbox"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-table;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/******************************************************************************
		ABREVIATURAS
	l_	  : Login
    p_	  : Pantalla Principal
/************************************************************************************/
#precarga_principal{
	height:387px;
	background:transparent url('../imagenes/loading.gif') center no-repeat;
	display:none;
}
#precarga_modal{
	height:450px;
	background:transparent url('../imagenes/loading.gif') center no-repeat;
}
/***********************************************************************
	PANTALLA PRINCIPAL
*************************************************************************/
.p_gral {
    width: 99%;
    height: 99%;
    margin: auto;
    padding: 3px;
}
#contenedora_mensaje{
    width:400px;
    height:100px;
    background-color:#76A0CD;
    opacity:0.9;
    filter:alpha(opacity=50);
    position:absolute;
    z-index	:777;
    top:150px;
    left:200px;
}
.p_mensaje_texto{
    padding	:3px;
    font-size:14px;
    color:#fff;
    text-align:center;
    font-weight:700;
}
#p_mensaje_btCerrar{
    width:50px;
    height:15px;
    float:right;
    font-size:11px;
    color:#fff;
    cursor:pointer;
    background-color:#000;
}
#contenedora_mensaje_expe{
    width:300px;
    height:117px;
    background-color:#76A0CD;
    opacity:0.9;
    filter:alpha(opacity=50);
    position:absolute;
    z-index	:777;
    top:150px;
    left:200px;
    border:3px solid #688196;
}
#p_mensaje_btAceptar{
    width:50px;
    height:15px;
    float:left;
    padding:3px;
    border-top:1px solid #fff;
    border-right:1px solid #688196;
    border-bottom:1px solid #688196;
    border-left:1px solid #fff;
    font-size:12px;
    color:#fff;
    font-weight:700;
    cursor:pointer;
    background-color:#76A0CD;
}
/******************************************************************************
		BARRA DE NAVEGACION
******************************************************************************/
.p_barra_navegacion {
    clear: both;
    height: 25px;
    margin-top: 5px;
    text-align: center;
}
.p_bnav_contenedor_2bt {
    width:60px;
    height:20px;
    float:left;
    border-right:1px solid #808080;
}
.p_bnav_contenedor_3bt{
    width:90px;
    height:20px;
    float:left;
    border-left:1px solid #fff;
    border-right:1px solid #808080;
}
.p_bnav_contenedor_4bt {
    width: 170px;
    height: 17px;
    float: left;
    padding-top: 3px;
	font-size: 11px;
    color: #000;
}
.p_barra_navegacion a {
    width: 15px;
    padding: 4px 0 2px 0;
    margin-right: 10px;
    font-size: 12px;
    color: black;
    text-align: center;
    text-decoration: none;
}
.p_bnav_contenedor_btSalir {
    width: 60px;
    height: 23px;
    float: right;
}
.p_bnav_contenedor_btSalir a {
	width: 60px;
    height: 23px;
    display: block;
    padding: 0;
}
/******************************************************************************
		BUSCADOR GENERAL
******************************************************************************/
.p_buscador{
    text-align:left;
    border-top:1px solid #fff;
    border-bottom:1px solid #7D7D7D;
}
.p_buscador_texto{
    font-size:12px;
    color:black;
}
.p_buscador_form{
    margin:0;
    padding:0;
    font-size:0;
}
.p_buscador_margen_datos{
    width:5px;
    height:20px;
    float:left;
}
.p_buscador_dato{
    height:20px;
    float:left;
}
.p_buscador_dato_tipo{
	height:22px;
}
.p_buscador_btBuscar{
    height:20px;
    float:left;
    text-align:center;
}
.p_buscador_info{
    float:left;
}
.p_usuario_afectado{
    width:187px;
    padding:15px 0 0 0;
    float:right;
}
.p_buscador_alto {
	height: 27px;
}
.p_buscador_borde_inferior {
	border-bottom: 1px solid silver;
}
.p_buscador_titulo {
	width: 47px;
	height: 24px;
	padding-top: 3px;
	float: left;
}
.p_buscador_combo {
	width: 225px;
	height: 27px;
	float: left;
}
.p_buscador_combo select {
	width: 220px;
	height: 25px;
}
.p_buscador_margen_boton {
	width: 10px;
	height: 27px;
	float: left;
}
.p_buscador_legajo {
	width: 120px;
	height: 27px;
	float: left;
}
.p_buscador_legajo input {
	width: 55px;
	height: 15px;
}
.p_buscador_apellido_nombre {
	width: 385px;
	height: 27px;
	float: left;
}
.p_buscador_apellido_nombre input {
	width: 247px;
	height: 15px;
}
.p_buscador_activos {
	padding: 2px 15px 0 5px;
	height: 25px;
	float: left;
}
.p_buscador_activos input[type="checkbox"] {
	margin-top: 4px;
	vertical-align: middle;
}
.p_buscador_nomenclador {
	width: 184px;
	height: 27px;
	float: left;
}
.p_buscador_nomenclador input {
	width: 71px;
	height: 18px;
}
.p_buscador_codigo {
	width: 140px;
	height: 27px;
	float: left;
}
.p_buscador_codigo input {
	width: 71px;
	height: 18px;
}
.p_buscador_nombre {
	width: 240px;
	height: 27px;
	float: left;
}
.p_buscador_nombre input {
	width: 171px;
	height: 18px;
}
/*********************************************************************
	NUEVO MENU 29/06/2011
*************************************************************************/
#header {
	font-family: verdana;
    height: 40px;
    margin: 10px auto 0;
    text-align: left;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 5px; /* para Safari y Google Chrome */
	-khtml-border-radius:5px;/* para Safari y Konqueror */
    -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
}
#menu_ppal {
    display: inline-block;
    text-align: left;
}
#menu_ppal,
#menu_ppal ul,
#menu_ppal li {
    list-style: none outside none;
}
#menu_ppal ul {
    float: left;
    left: auto;
    margin: 0;
    padding: 0;
    z-index: 7;
    font-family: "Trebuchet MS",MetaBlack,sans-serif;
    border-left: 1px solid #2F508C;
    border-right: 1px solid #5373B0;
    border-left-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(255, 255, 255, 0.15);
}
#menu_ppal li {
    background: none repeat scroll 0 0 transparent;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
#menu_ppal a {
    color: #FFF;
    display: block;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
}
#menu_ppal ul ul {
    font-family: "Trebuchet MS",sans-serif;
}
#menu_ppal ul li a {
    display: block;
    float: left;
    height: 39px;
    padding: 18px 15px 0;
    text-transform: uppercase;
    border-left: 1px solid #5373B0;
    border-right: 1px solid #2F508C;
    border-left-color: rgba(255, 255, 255, 0.15);
    border-right-color: rgba(0, 0, 0, 0.2);
}
#menu_ppal li ul {
    display: none;
    opacity: 0;
    position: absolute;
}
#menu_ppal li:hover ul {
    display: block;
    top: 0;
    margin-top: 39px;
    opacity: 1;
}
#menu_ppal ul li ul li {
    float: none;
}
#menu_ppal ul li a,
#menu_ppal ul li a:link,
#menu_ppal ul li a:visited {
    color: #FFF;
    text-decoration: none;
}
#menu_ppal ul li.current a,
#menu_ppal ul li.current a:link
#menu_ppal ul li.current a:visited {
}
#menu_ppal ul li.current > a,
#menu_ppal ul li a:hover,
#menu_ppal ul li a:active {
	background: #28407F;
    background: none repeat scroll 0 0 rgba(38, 60, 123, 0.898);
    color: #FFF;
}
#menu_ppal ul li.current a,
#menu_ppal ul li.current a:link,
#menu_ppal ul li.current a:visited {
    height: 35px;
}
#menu_ppal ul li li.current a,
#menu_ppal ul li li.current a:link,
#menu_ppal ul li li.current a:visited,
#menu_ppal ul li.current li a,
#menu_ppal ul li.current li a:link,
#menu_ppal ul li.current li a:visited {
    -moz-box-shadow: none;
    height: auto;
}
#menu_ppal ul li.current a:hover,
#menu_ppal ul li.current a:active {
    -moz-box-shadow: 0 -5px rgba(102, 155, 225, 0.8) inset;
}
#menu_ppal ul li.current {
    -moz-box-shadow: 0 -5px #669BE1 inset;
    border-bottom: 4px solid #5784BF;
}
#menu_ppal ul ul li.current {
    -moz-box-shadow: none;
    border-bottom: 0 none;
}
#menu_ppal ul ul,
#menu_ppal ul ul li {
    border: 0 none;
    height: auto;
}
#menu_ppal ul ul {
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset, 0 5px 10px rgba(0, 0, 0, 0.2);
    background: none repeat scroll 0 0 rgba(38, 60, 123, 0.898);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A4187', endColorstr='#3B69B1'); /* para IE */
    border-top: 0 none;
    padding: 0 0 4px;
    text-shadow: 1px 1px 0 #1B3B6A, 0 0 5px #1B3B6A;
    width: 87px;
    behavior: url('http://hcd02.concejomdp.gov.ar/sgl/sgl_css/PIE.htc');
}
#menu_ppal ul li ul li a,
#menu_ppal ul li ul li a:link,
#menu_ppal ul li ul li a:visited,
#menu_ppal ul li ul li span {
    background-image: none;
    border: 0 none;
    display: block;
    float: none;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    margin: 0;
    padding: 5px 15px;
    position: relative;
    text-transform: none;
}
#menu_ppal ul li ul li a:hover,
#menu_ppal ul li ul li a:active {
    background: none repeat scroll 0 0 rgba(38, 60, 123, 0.898);
    border-bottom: 1px solid #496288;
    border-top: 1px solid #162F55;
    padding-bottom: 4px;
    padding-top: 4px;
}
#menu_ppal ul li a {
    font-size: 10px;
    height: 30px;
    padding: 10px 15px 0;
}
#menu_ppal .borde_separador_menu {
	border-top: 1px dotted #E6E6E6;
}
/*****************************************************************/
#contenidoAjaxPrincipal {
	min-height: 85%;
	clear:both;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	background-color: #E6E6E6;
}
/******************************************************************/
.p_buscador_legajo_solapas {
	height: 25px;
	margin-top: 5px;
	padding-left: 20px;
}
.p_buscador_legajo_solapas_titulo_e_input {
	width: 250px;
	height: 20px;
	float: left;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #484848;
}
.p_buscador_legajo_solapas_titulo_e_input input {
	width: 50px;
	height: 15px;
}
/*****************************************************************
	SOLAPAS DE LA FICHA PERSONAL
******************************************************************/
.p_solapas {
	float:left;
	width:100%;
	font-size:12px;
	line-height:normal;
	border-bottom:1px solid #24618E;
	margin-bottom: 3px;
}
.p_solapas ul {
	margin:0;
	padding:10px 10px 0 0;
	list-style:none;
}
.p_solapas li {
	display:inline;
	margin:0;
	padding:0;
}
.p_solapas a {
	float:left;
	background:url("../imagenes/barra/solapa_izq.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 5px;
	text-decoration:none;
}
.p_solapas a span {
	float:left;
	display:block;
	background:url("../imagenes/barra/solapa_der.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#24618E;
}
.p_solapas a:hover span {
	color: #fff;
}
.p_solapas a:hover {
	background-position:0% -42px;
}
.p_solapas a:hover span {
	background-position:100% -42px;
}
.actual a {
	background-position:0% -42px;
}
.actual a span {
	background-position:100% -42px;
	color: #fff;
}
/****************************************************************************/
#contenidoAjaxEdicion{
  clear: both;
  min-height: 90%;
  margin: 0 auto;
  text-align: left;
  padding: 0;
}
/******************************************************************************
		DATOS DEL SISTEMA (USUARIO - MAQUINA - FECHA - HORA - ETC)
******************************************************************************/
.p_datos_sistema {
	clear: both;
	width: 100%;
	height: 20px;
	padding-top: 3px;
	font-size: 11px;
    color: #484848;
}
.p_datos_sistema_pc {
	padding: 0 10px 0 10px;
	height: 17px;
	float: left;
	border-right: 1px solid silver;
	text-align: left;
}
.p_datos_sistema_usr {
	padding: 0 10px 0 10px;
	height: 17px;
	float: left;
	border-left: 1px solid #fff;
	border-right: 1px solid silver;
}
.p_datos_sistema_fecha_hora {
    padding: 0 10px 0 10px;
    height: 17px;
    float: left;
    border-left: 1px solid #fff;
}
.p_datos_sistema_acerca {
    margin-right: 20px;
    height: 17px;
    float: right;
    text-align: right;
}
.p_datos_sistema_acerca a {
    font-size: 11px;
    color: #484848;
    text-decoration: none;
}
.p_datos_sistema_acerca a:hover {
    color: #315299;
}
/******************************************************************************
		TABLA GENERAL
******************************************************************************/
.e_tabla_titulos{
	padding: 2px 0 2px 0;
	background-color: silver;
	text-align: center;
}
.e_cuerpo_scrolleable{
	overflow: auto;
	padding-right: 15px;
	background-color: #fff;
}
.e_tabla_texto,
.e_tabla_texto input{
	font-size: 11px;
	color: #080808;
	text-align: left;
	background-color: #fff;
	border: 0;
}
.e_tabla_titulos th{
	font-family: Arial;
	font-size: 10px;
	text-transform: uppercase;
	border-right: 1px solid #fff;
}
.e_cuerpo_scrolleable tr{
	height: 16px;
}
.e_cuerpo_scrolleable td{
	border: 1px solid #BEBEBE;
}
/******************************************************************************
		PANTALLA PARA LOS LISTADOS
******************************************************************************/
.ub_cont_buscador {
	padding: 3px 0 5px 10px;
	font-family: Arial;
	font-size: 12px;
	font-weight: 700;
	color: #484848;
	text-align: left;
}
.ub_buscador {
	width: 350px;
	height: 23px;
}
.ub_listado{
	background-color: #E6E6E6;
}
.orden_link{
  text-decoration: none;
  color: #fff;
  background-color: #355CA4;
  padding: 0 3px 0 3px;
}
.orden_link a{
  width:100%;
  text-decoration:none;
  color: #fff;
  background-color: #355CA4;

}
.orden_link a:hover{
  text-decoration:underline;
}
/*************************************************************************************
		ESTILOS  GENERALES PARA LOS ABMs
*************************************************************************************/
.abm_mensaje_resultado{
	width: 400px;
	padding: 15px 30px 10px 30px;
	position: absolute;
	z-index: 777;
	top: 30%;
	left: 30%;
	opacity: 0.9;
	filter: alpha(opacity=50);
	border-radius: 5px;
	-moz-border-radius: 5px;/* para Mozilla */
	-webkit-border-radius: 5px; /* para Safari y Google Chrome */
	-khtml-border-radius: 5px;/* para Safari y Konqueror */
}
.abm_mensaje {
	padding: 3px 3px 10px 30px;
	font-family: Arial;
	font-size: 14px;
	color: #fff;
	text-align: left;
	font-style: italic;
}
.abm_nuevo_mensaje {
	padding: 2px;
	float: left;
	font-size: 14px;
	text-align: center;
	font-weight: 700;
	opacity: 0.9;
	filter: alpha(opacity=50);
}
.abm_fondo_mensaje1 {
	color: #fff;
	background-color: #5EA351;
	border-left: 7px solid green;
}
.abm_fondo_mensaje2 {
	color: #000;
	background-color: #C55C60;
	border-left: 7px solid #CC1414;
}
.abm_imagen_mensaje1 {
	background-image: url('../imagenes/barra/ok_16x16.gif');
	background-repeat: no-repeat;
	background-position: middle;
}
.abm_imagen_mensaje2 {
	background-image: url('../imagenes/barra/error_16x16.gif');
	background-repeat: no-repeat;
	background-position: middle;
}
#abm_mensaje_btCerrar,
#abm_mensaje_btCerrar2 {
	clear: both;
	width: 18px;
	height: 15px;
	float: right;
	background-image: url('../imagenes/cerrar.png');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
/*******************************************************************************************
		CONSULTAS -> GENERAL
*******************************************************************************************/
.msc_gral {
	width:637px;
	margin:0 auto;
	background-color:#DDD;
	border:1px solid #76A0CD;
}
.msc_texto {
	font-size:11px;
	color:#000;
	text-align:center;
}
.msc_borde1 {
	width:624px;
	height:327px;
	border:1px solid silver;
	padding:5px;
}
.msc_borde2 {
	width:622px;
	height:325px;
	border:1px solid silver;
	overflow:auto;
}
.msc_fondo_item {
	height:108px;
	border-top:1px solid #fff;
	border-bottom:1px solid silver;
}
.msc_nombres_filtro {
	width:70px;
	height:84px;
	float:left;
}
.msc_nombres_filtro_der {
	width:88px;
}
.msc_valores_filtro {
	width:190px;
	height:84px;
	float:left;
}
.msc_valores_filtro2 {
	width:165px;
	height:84px;
	float:left;
}
.msc_filtro {
	width:251px;
	height:84px;
	float:left;
}
.msc_margen_filtro {
	width:10px;
	height:84px;
	float:left;
}
.msc_botones {
	width:130px;
	height:84px;
	float:left;
}
.msc_boton {
	width:127px;
	height:20px;
	border-top:1px solid #fff;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
	border-left:1px solid #fff;
	cursor:pointer;
	background-color:#C8CEDC;
}
.msc_boton_buscar {
	width:101px;
	height:14px;
	padding:4px 0 2px 25px;
}
.msc_boton a {
	width:124px;
	height:16px;
	padding	:4px 0 2px 3px;
	display:block;
	text-decoration:none;
	color:#000;
}
.msc_boton a:hover {
	background-color:#76A0CD;
	color:#fff;
}
#msc_btBuscar {
	background-image:url('../imagenes/zoom_16x16.gif');
	background-repeat:no-repeat;
	background-position:5px 1px;
}
#msc_btCerrar {
	background-image:url('../imagenes/barra/home_16x16.gif');
	background-repeat:no-repeat;
	background-position:5px 3px;
}
#msc_btCerrar a {
	width:64px;
	height:16px;
	display:block;
	text-decoration:none;
	color:#000;
}
.msc_dato_filtro {
	height: 15px;
	padding: 7px 0 0 0;
	text-align: left;
}
.msc_combo {
	width: 158px;
	height: 17px;
	padding-left: 5px;
	font-size: 10px;
}
.msc_combo_ancho {
	width: 191px;
}
.msc_fpalabra {
	width: 158px;
	height: 20px;
	padding-left: 5px;
	font-size: 11px;
}
.msc_ffecha {
	width: 62px;
	height: 15px;
	font-size: 10px;
}
.msc_paginador {
	height: 22px;
}
.msc_margen_paginador {
	width: 200px;
	height: 22px;
	float: left;
}
.msc_flechas_paginador {
	width: 40px;
	height: 22px;
	float: left;
}
.msc_flechas_paginador a {
	width: 20px;
	height: 22px;
	text-decoration: none;
}
.msc_detalle_paginador {
	width: 90px;
	height: 17px;
	float: left;
	padding: 5px 10px 0 10px;
}
.msc_contenedor_btVolver {
	height:27px;
	padding-right:3px;
}
.msc_volver {
	width:123px;
	height:23px;
	float:right;
	text-align:center;
	border-top:1px solid #fff;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	border-left:1px solid #fff;
	cursor:pointer;
	background-color:#C8CEDC;
}
.msc_volver a {
	width: 123px;
	height:17px;
	padding:4px 0 2px 0;
	display:block;
	text-decoration:none;
	font-size:12px;
	color:#000;
}
.msc_volver a:hover {
	background-color: #76A0CD;
	color: #fff;
}
/************************************************************************/
.informe_contenedor_rango_fechas {
	height: 22px;
	clear: both;
}
.informe_criterio_titulo {
	width: 98px;
	height: 17px;
	float: left;
	text-align: right;
	padding: 5px 5px 0 0;
}
.informe_criterio_fecha_calendario {
	width: 100px;
	height: 22px;
	float: left;
	text-align: left;
}
.informe_criterio_fecha {
	width: 62px;
	height: 15px;
	font-size: 10px;
}
/**********************************************************************/
.informe_contenedor_concejales {
	height: 55px;
	clear: both;
}
.informe_contenedor_concejales_nombre {
	width: 97px;
	height: 50px;
	float: left;
	text-align: right;
	padding: 5px 7px 0 0;
}
.informe_contenedor_concejales_listado {
	width: 260px;
	height: 270px;
	float: left;
}
.informes_listado_concejales {
	width: 260px;
	height: 270px;
	background-color: #fff;
	overflow-y: auto;
	text-align: left;
}
/*******************************************************************************************
		ACERCA DE ... (info del sistema)
*******************************************************************************************/
.msi_gral {
	padding: 10px;
	border: 1px solid silver;
	background-color: #DDD;
}
.msi_contenido {
	height: 62px;
	margin-bottom: 5px;
}
.msi_logo {
	width: 65px;
	height: 62px;
	float: left;
	background-image: url('../imagenes/logo_usuarios.gif');
	background-repeat: no-repeat;
	background-position: center;
}
.msi_titulo {
	width: 210px;
	height: 62px;
	float: left;
}
.msi_texto_izq {
	padding: 3px 0 0 30px;
	font-size: 12px;
	color: #000;
	text-align: left;
}
/******************************************************************
		ABM PERSONAL - SOLAPA Datos Personales
********************************************************************/
.p_titulo_listado {
	height: 15px;
	float: left;
	padding: 3px 70px 0 10px;
	font-family: Arial;
	font-size: 14px;
	color: #484848;
}
.p_texto {
  font-size: 12px;
}
.p_texto legend {
  font-size: 15px;
  font-style: italic;
}
.p_texto legend a {
    font-size: 12px;
    color: #155793;
}
.p_edicion_ficha_parte_uno {
    height: 220px;
    border-bottom: 1px solid silver;
}
.p_edicion_ficha_borde_superior {
    border-top: 1px solid #fff;
    padding-top: 7px;
}
.p_edicion_ficha_borde_inferior {
    border-bottom: 1px solid silver;
}
.p_edicion_ficha_parte_uno_datos{
    width: 750px;
    height: 220px;
    float: left;
}
/**
 * Edición de la info de la Ficha Web
 **********************************************************************/
.p_edicion_ficha_web {
    width: 100%;
}
.p_edicion_ficha_web_foto {
    width: 170;
    height: 240px;
    float: left;
}
.p_edicion_ficha_web_foto a {
    width: 170px;
    height: 240px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    cursor: pointer !important;
}
.p_edicion_ficha_web_datos {
    width: 650px;
    float: left;
    padding-top: 10px;
}
.p_edicion_ficha_web_fila{
    height: 27px;
}
.p_edicion_ficha_web_fila_titulo {
    width: 140px;
    height: 15px;
    float: left;
    text-align: right;
    padding: 7px 5px 4px 0;
    font-weight: 700;
}
.p_edicion_ficha_web_fila_valor {
    width: 400px;
    height: 24px;
    float: left;
    text-align: left;
    padding: 3px 0 0 5px;
}
.p_edicion_ficha_web_fila_valor_mandato_anios {
    width: 62px;
    height: 24px;
    float: left;
    text-align: left;
    padding: 3px 0 0 5px;
}
.p_edicion_ficha_web_fila_valor_mandato_separador {
    width: 10px;
    height: 17px;
    float: left;
    text-align: center;
    padding-top: 7px;
}
/**************************************************************************
    EDICION DE LA FOTO CARNET ACTUAL
***************************************************************************/
.p_edicion_ficha_foto {
    width: 140px;
    height: 172px;
    float: left;
    padding-top: 5px;
}
.p_edicion_ficha_contenedor_foto_carnet {
    height: 125px;
}
.p_edicion_ficha_contenedor_foto_carnet a {
    width: 140px;
    height: 125px;
    display: block;
	text-align: center;
	vertical-align: middle;
    cursor: pointer !important;
}
.p_edicion_ficha_contenedor_foto_carnet a img {
	vertical-align: middle;
	line-height: 125px;
}

.p_edicion_foto_actual_boton {
    clear: both;
    width: 115px;
    height: 25px;
    margin-top: 5px;
    padding-left: 25px;
}
.p_edicion_foto_actual_boton a {
    width: 90px;
    height: 19px;
    padding: 3px 0 0 3px;
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;/* para Mozilla */
    -webkit-border-radius: 5px; /* para Safari y Google Chrome */
    -khtml-border-radius: 5px;/* para Safari y Konqueror */
    background-color: #2B4776;
    position: relative;
    behavior: url('http://hcd02.concejomdp.gov.ar/sgl/sgl_css/PIE.htc');
    cursor: pointer;
}
.p_edicion_foto_actual_boton a:hover {
    background-color: #00375E;
    color: #fff;
}
.p_edicion_foto_actual_boton a img {
    vertical-align: middle;
}

.modal_edicion_foto_con_iframe {
    width: 650px;
    margin:0 auto;
    background-color: #DDD;
    border:1px solid #073E65;
}

.p_edicion_ficha_foto_sin_vinculo {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.p_edicion_fila{
	height:37px;
}
.p_edicion_datos {
	clear: both;
	margin-top: 10px;
	border-top: 1px solid #134D77;
}
.p_edicion_datos,
.p_edicion_datos input {
	font-family: Arial;
	font-size: 12px;
	text-align: left;
}
.p_edicion_datos_titulo_leyenda {
	width: 99%;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	padding: 3px 0 3px 10px;
	background-color: #365EA5;
	-moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
}
.p_edicion_formulario {
	width: 99.7%;
	border: 1px solid silver;
}
.p_edicion_datos_titulo {
	height: 15px;
	float: left;
	font-weight: 700;
	padding: 7px 0 4px 5px;
}
.p_edicion_datos_titulo_ancho80 {
	width: 80px;
}
.p_edicion_datos_titulo_ancho100 {
	width: 100px;
}
.p_edicion_datos_titulo_ancho120 {
	width: 120px;
}
.p_edicion_margen_celular_tel_mensajes {
	width: 90px;
	height: 15px;
	float: left;
}
.p_edicion_datos_valor {
	height: 24px;
	float: left;
	padding: 3px 0 0 5px;
}
.p_edicion_datos_valor select {
	height: 24px;
}
.p_edicion_datos_borde_superior {
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid silver;
	margin-top: 3px;
	margin-bottom: 3px;
}
.p_cont_botonera_edicion {
	clear: both;
	height: 25px;
	padding-top: 5px;
}
.p_edicion_asterisco_datos_requeridos {
	height: 17px;
	color: #113F66;
}
.p_edicion_datos_requeridos {
	width: 200px;
	height: 25px;
	float: right;
	color: #113F66;
	font-size: 12px;
	text-align: center;
}
.p_margen1_boton_edicion {
	width: 150px;
	height: 25px;
	float: right;
}
.p_margen2_boton_edicion {
	width: 20px;
	height: 25px;
	float: right;
}
.p_boton_edicion {
	width: 90px;
	height: 25px;
	float: right;
}
.p_boton_edicion a {
	width: 90px;
	height: 19px;
	padding: 3px 0 0 3px;
	display: block;
	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-style: normal;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;/* para Mozilla */
	-webkit-border-radius: 5px; /* para Safari y Google Chrome */
	-khtml-border-radius: 5px;/* para Safari y Konqueror */
	background-color: #2B4776;
	position: relative;
	behavior: url('http://hcd02.concejomdp.gov.ar/sgl/sgl_css/PIE.htc');
	cursor: pointer;
}
.p_boton_edicion a:hover {
	background-color: #00375E;
	color: #fff;
}
.p_boton_nuevo {
	float: left;
}
.p_boton_nuevo a img {
	vertical-align: middle;
}
/******************************************************************
	PARA EL BOTÓN DE EXAMINAR PARA BUSCAR LA FOTO
******************************************************************/
.input_file_personalizado {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	width: 110px;
	float: left;
	padding: 4px;
    margin-left: 122px;
	border-radius: 5px;
	background-color: #2B4776;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}
.input_file_personalizado:hover {
	background-color: #00375E;
}
.input_file_personalizado .input_file {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 10000px;
	border: 10000px solid transparent;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	right: -1000px;
	top: -1000px;
	cursor: pointer;
}
/*******************************************************************
	ABM PERSONAL - VENTANA MODAL PARA LA FOTO
***********************************************************************/
.p_contenedora_modal_carga_foto {
	width: 650px;
  	margin:0 auto;
  	background-color: #DDD;
  	border:1px solid #073E65;
}
.p_edicion_modal_gral {
	height: 460px;
	font-family: Arial;
	font-size: 12px;
	padding-top: 10px;
}
.p_edicion_modal_foto {
	height: 200px;
}
.p_edicion_modal_contenedor_foto {
    width: 145px;
    height: 200px;
    margin: auto;
    background-color: transparent;
}

.p_edicion_modal_borrar {
	padding: 5px 0 5px 0;
}
.p_edicion_modal_file {
	padding: 5px 0 5px 0;
}
.p_edicion_modal_botones {
	height: 25px;
	margin-top: 5px;
}
.p_boton_en_modal_foto {
    width: 90px;
    height: 25px;
    float: left;
    margin-left: 15px;
}
.p_boton_en_modal_foto a {
    width: 90px;
    height: 19px;
    padding: 3px 0 0 3px;
    display: block;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-style: normal;
    text-align: center;

    border-radius: 5px;
    -moz-border-radius: 5px;/* para Mozilla */
    -webkit-border-radius: 5px; /* para Safari y Google Chrome */
    -khtml-border-radius: 5px;/* para Safari y Konqueror */

    background-color: #2B4776;
    position: relative;
    behavior: url('http://hcd02.concejomdp.gov.ar/sgl/sgl_css/PIE.htc');
    cursor: pointer;
}
.p_boton_en_modal_foto a:hover {
    background-color: #00375E;
    color: #fff;
}
.p_boton_en_modal_foto a img {
    vertical-align: middle;
}
#inputBorrar {
    margin-left: 140px;
}
/********************************************************************************************************
	Para la librería JS cwcrop para recortar la foto del legajo

	la cual es utilizada en el método editarFoto() de la vista de Personal (abms/vista/personal.php)

	http://www.chipwreck.de/blog/software/cwcrop/
*******************************************************************************************************/
#imgouter {
	position: relative;
	border: none;
	z-index: 200;
}
#imglayer {
	width: 200px;/*145px;*/
	height: 200px;
	padding: 1px;
	background-color: transparent;
	background-repeat: no-repeat;
	opacity: 0.5;
	cursor: default;
	filter:alpha(opacity=50); /* IE 6-7 Trash */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 Trash */
	z-index: 300;
}
#cropframe {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
	padding: 0px;
	border: 1px dashed #333;
	background-repeat: no-repeat;
	-border-image: url('../imagenes/ants.gif') 1 repeat repeat;
	-webkit-border-image: url('../imagenes/ants.gif') 1 repeat repeat;
	-moz-border-image: url('../imagenes/ants.gif') 1 repeat repeat;
	z-index: 999;
}
#cropframe.active {
	border: 1px dashed #fff;
}
#cropinfo {
	background-color: #ccc;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    height: 32px;
    position: absolute;
	filter:alpha(opacity=50); /* IE 6-7 Trash */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 Trash */
	z-index: 600;
}
#cropdims {
	color: #000;
    padding: 6px 5px;
    margin-left: 32px;
    font-size: 12px;
	z-index: 500;
    font-family: sans-serif;
}
#cropbtn {
	background-image: url('../imagenes/crop.gif');
    background-repeat: no-repeat;
	position: absolute;
    left: 0px;
    height: 32px;
    width: 32px;
    cursor: pointer !important;
	z-index: 800;
}
#cropbtn:hover {
	background-color: black;
}
#draghandle {
	background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
    cursor: move;
	z-index: 90;
}
.resizeHandle {
	z-index: 40;
    opacity: 0.9;
	filter:alpha(opacity=90); /* IE 6-7 Trash */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE8 Trash */
	background-color: #666;
	position: absolute;
    margin: 0px;
    border: 1px solid #fff;
    height: 8px; width: 8px;
}
#resizeHandleXY {
	left: 100%;	top: 100%;
	cursor: se-resize;
}
/******************************************************************
	ABM PERSONAL - SOLAPA Historial
********************************************************************/
.h_edicion_fila{
  	height: 27px;
}
.h_edicion_fila_observaciones {
  	height: 127px;
}
.h_edicion_fila_titulo {
	width: 247px;
	height: 15px;
	float: left;
	text-align: right;
	padding: 7px 5px 4px 0;
	font-weight: 700;
}
.h_edicion_fila_valor {
	width: 400px;
	height: 24px;
	float: left;
	text-align: left;
	padding: 3px 0 0 5px;
}
.h_edicion_fila_valor input[type="checkbox"] {
	vertical-align: middle;
}
.h_edicion_fila_valor select {
  	height: 24px;
}
/******************************************************************
	ABM PERSONAL - SOLAPAS Areas Y Cargos
********************************************************************/
.ac_edicion{
  	padding:3px 0 3px 0;
}
.ac_edicion_datos_titulos{
	width:240px;
	height:135px;
	float:left;
}
.ac_edicion_datos_valores{
	width:287px;
	height:135px;
	float:left;
}
.ac_edicion_listado{
	height:135px;
	float:left;
}
.p_combos{
	width:280px;
	height: 25px;
}
/******************************************************************
	ABM PERSONAL - SOLAPA Estudios
********************************************************************/
.estud_edicion_fila{
  	height: 27px;
}
.estud_edicion_fila_observaciones {
  	height: 127px;
}
.estud_edicion_fila_titulo {
	width: 147px;
	height: 15px;
	float: left;
	text-align: right;
	padding: 7px 5px 4px 0;
	font-weight: 700;
}
.estud_edicion_fila_valor {
	width: 570px;
	height: 24px;
	float: left;
	text-align: left;
	padding: 3px 0 0 5px;
}
/**************************************************************************
	ABM PERSONAL - SOLAPA DDJJ
****************************************************************************/
.p_edicion_seccion_ddjj {
	clear: both;
	margin-top: 10px;
	border-top: 1px solid #134D77;
}

.p_edicion_seccion_datos_ddjj {
	height: 30px;
	margin-top: 5px;
	font-family: Arial;
  	font-size: 12px;
}
.p_edicion_seccion_datos_ddjj_titulo {
  	width: 147px;
  	height: 20px;
 	float: left;
 	text-align: right;
 	padding: 7px 5px 3px 0;
  	font-weight: 700;
}
.p_edicion_seccion_datos_ddjj_valor {
	width: 220px;
	height: 27px;
	float: left;
	text-align: left;
	padding: 3px 0 0 5px;
}
.p_edicion_seccion_datos_ddjj_valor input[type="text"] {
	height: 10px;
}
.p_edicion_seccion_datos_ddjj_margen_botones {
	width: 20px;
	height: 30px;
	float: left;
}

.p_edicion_seccion_listado_ddjj {
	clear: both;
	width: 100%;
	height: 220px;
	padding-top: 10px;
	overflow: auto;
}
.p_edicion_seccion_listado_ddjj_anio {
	font-size: 12px;
	text-align:center;
	padding:0 3px 0 3px;
}
.p_edicion_seccion_listado_ddjj_enlace {
	width: 90px;
	text-align: center;
}
.p_edicion_seccion_listado_ddjj_enlace a {
	width: 90px;
	font-size: 12px;
	color: #355CA4;
}
.p_edicion_seccion_listado_ddjj_enlace a:hover {
	text-decoration: underline;
}
/******************************************************************
	ABM PERSONAL - SOLAPA Grupo Familiar
********************************************************************/
.f_edicion_listado_hijos{
  padding:3px 0 3px 0;
}
.ac_edicion_datos_titulos{
  width:240px;
  height:135px;
  float:left;
}
.ac_edicion_datos_valores{
  width:287px;
  height:135px;
  float:left;
}
/**********************************************************************
      INFORMES
************************************************************************/
.i_modal_contenedora {
  width:570px;
  margin:0 auto;
  background-color: #DDD;
  border:1px solid #073E65;
}
.i_modal_contenedora_foto {
  width: 302px;
  margin: 0 auto;
  text-align: center;
  background-color: #DDD;
  border: 1px solid #073E65;
}
.i_modal_texto{
  font-size:11px;
  color:#000;
  text-align:center;
}
.i_modal_titulo {
	font-size: 15px;
	padding: 3px;
	-moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
	color: #fff;
	cursor: pointer;
}
.i_modal_subtitulo {
	font-size: 13px;
}
.i_modal_margen_fechas {
  	width: 7px;
  	height: 22px;
  	float: left;
}
.i_boton{
  	padding:0 3px 0 3px;
  	height:22px;
  	float:left;
  	cursor:pointer;
}
.i_boton a{
  	color:#000;
 	text-decoration:none;
 	display:block;
}
.i_borde1 {
  	width: 558px;
  	height: 227px;
  	border: 1px solid silver;
  	padding: 5px;
}
.i_borde2 {
  	width: 556px;
  	height: 225px;
  	border: 1px solid silver;
  	overflow: auto;
}
.i_fondo_item{
  	height:108px;
  	border-top:1px solid #fff;
  	border-bottom:1px solid silver;
}
.i_ficha {
  	height: 109px;
  	margin-bottom: 7px;
}
.i_ficha_datos {
  	width: 350px;
  	height: 109px;
  	float: left;
}
.i_ficha_foto_mini {
  	width: 107px;
  	height: 107px;
  	float: left;
  	border: 1px solid #C0C0C0;
  	border-radius: 5px;
}
.i_ficha_foto_mini a {
    width: 107px;
    height: 107px;
    display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.i_ficha_ver_legajo {
  	width: 70px;
  	height: 109px;
  	float: left;
}
.i_ficha_ver_legajo a {
  	width: 70px;
  	height: 14px;
  	padding-top: 3px;
  	display: block;
  	text-decoration: none;
	color: #fff;
	background-color: #073E65;
	border-radius: 3px;
}
.i_ficha_ver_legajo a:hover {
  	text-decoration: underline;
}
.i_ficha_datos_valor {
  	/*width: 437px; 30/06/2022 XXXX*/
  	text-align: left;
  	padding: 7px 0 0 10px;
}
.i_ficha_datos_valor span {
	color: #00375E;
	font-weight: bold;
}
.i_ficha_datos_legajo_con_baja {
	color: #484848;
}
/*******************************************************************
		06/06/2012
*********************************************************************/
#capaVentana {
	visibility: hidden;
	position: absolute;
	padding:0;
	left: 27%;
	top: 50px;
	border-bottom: 1px solid #7D7D7D;
	z-index: 3;
}
#capaFondo {
	width: 100%;
	min-height: 596px;
	visibility: visible;
	position: absolute;
	padding: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #262626;
	opacity: .75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
	z-index: 2;
}
.calendar {
	z-index: 777;
}
/*****************************************************************************
		12/06/2012
********************************************************************************/
.autosugerido {
	font-size: 11px;
	color: #030000;
	text-align: left;
}
.autosugerido a {
	font-size: 12px;
	color: #304F96;
	text-decoration: none;
}
.autosugerido a:hover {
	text-decoration: underline;
}
#nombre_sugerido {
	width: 330px;
}
#sugerencias {
	background-color: #F1F1F1;
}
#sugerencias ul,
#sugerencias li {
	list-style: none outside none;
}
#sugerencias ul {
	float: left;
	margin: 0;
	padding: 0 10px 0 10px;
	z-index: 7;
}
#sugerencias li a {
	background: none repeat scroll 0 0 transparent;
	text-decoration: none;
	color: #000;
}
.overlay {
	 display: none;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: #000;
	 z-index:1001;
	 opacity:.75;
	 -moz-opacity: 0.75;
	 filter: alpha(opacity=75);
}
.modal {
	 display: none;
	 position: absolute;
	 top: 25%;
	 left: 35%;
	 width: 400px;
	 height: 120px;
	 padding: 16px;
	 background: #fff;
	 color: #333;
	 z-index:1002;
	 overflow: auto;
}
.margen_modal {
	height: 75px;
	font-size: 0;
}
.cerrar_pedirNombreModal {
	height: 20px;
}
.titulo_pedirNombreModal {
	width: 270px;
	height: 20px;
	float: left;
	text-align: left;
	padding-right: 10px;
}
.btCerrar_pedirNombreModal {
	width: 55px;
	height: 20px;
	float: right;
	cursor: pointer;
	background-image: url('../imagenes/closelabel.gif');
	background-repeat: no-repeat;
	background-position: right bottom;
}

.izquierda {
	float: left;
}

.domicilio_real_oscuro {
	background-color: #E9E8E8;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
}
.domicilio_real_normal {
	background-color: #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
/*******************************************************************/
#l_contenedor_buscador_ofuscado {
	width: 367px;
	height: 170px;
	visibility: visible;
	position: absolute;
	padding: 0px;
	left: 30px;
	top: 30px;
	right: 0px;
	bottom: 0px;
	background-color: silver;
	opacity: .75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
	z-index: 7;
}
/*************************************************************************
	PARA REASIGNACION DE PERSONAL ENTRE CONCEJALES
*************************************************************************/
.t_reasignacion_modal_contenedora {
  width: 640px;
  margin:0 auto;
  background-color: #DDD;
  border:1px solid #073E65;
}
.t_reasignacion_general {
	height: 400px;
	padding-left: 10px;
}
.t_reasignacion_lado_combos {
	width: 260px;
	height: 400px;
	float: left;
}
.t_reasignacion_lado_botones {
	width: 100px;
	height: 400px;
	float: left;
}
.t_reasignacion_lado1_concejales {
	height: 22px;
}
.t_reasignacion_titulo {
	padding: 3px;
	font-size: 11px;
	text-align: left;
}
.t_reasignacion_combo {
	height: 22px;
	float: left;
	text-align: left;
}
.t_reasignacion_combo select {
	width: 230px;
	height: 21px;
	font-size: 10px;
}
.t_reasignacion_contenedor_dependientes_listado {
	height: 330px;
	float: left;
}
.t_reasignacion_listado_dependientes {
	width: 253px;
	height: 310px;
	font-size: 10px;
	background-color: #fff;
	overflow-y: auto;
	text-align: left;
}
.t_reasignacion_detalle_dependientes {
	padding: 3px;
	font-size: 10px;
	text-align: left;
	clear: both;
	border-bottom: 1px solid silver;
}
/*******************************************************************************
		CRITERIO DE BUSQUEDA PARA LOS INFORMES
			inf_ : abreviatura
*******************************************************************************/
.inf_contenedora {
	height: 190px;
}
.inf_lado_uno {
	width: 430px;
	height: 190px;
	float: left;
}
.inf_espacio_criterio_y_botones {
	width: 35px;
	height: 190px;
	float: right;
}
.inf_lado_botones {
	width: 100px;
	height: 190px;
	float: right;
}
.inf_fila {
	height: 22px;
	clear: both;
}
.inf_espacio_entre_filas {
	height: 5px;
	font-size: 0;
	clear: both;
}
.inf_label_nombre {
	width: 97px;
	height: 17px;
	float: left;
	text-align: right;
	padding: 5px 7px 0 0;
}
.inf_calendario {
	width: 95px;
	height: 22px;
	float: left;
	text-align: left;
}
.inf_radio {
	width: 25px;
	height: 22px;
	float: left;
	text-align: center;
}
.inf_combo {
	width: 318px;
	height: 22px;
	float: left;
	text-align: left;
}
.inf_combo select {
	width: 260px;
	height: 22px;
	padding-left: 5px;
	font-size: 10px;
}
/********************************************************************************************************
	PARA LA VENTANA MODAL DONDE SE INGRESAN LOS DATOS DE LA CREDENCIAL
********************************************************************************************************/
#dragger_credencial {
    font-size: 13px;
    padding: 3px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
#contenedoraPedirInfoParaCredencial {
	width: 300px;
	padding: 5px;
	border: 1px solid #76A0CD;
	background-color: #DDD;
	margin: 0 auto;
}
.gc_credencial_contenedora_info {
	clear: both;
	height: 95px;
	padding-top: 5px;
}
.gc_credencial_info_titulos {
	width: 110px;
	height: 95px;
	float: left;
}
.gc_credencial_info_valores {
	width: 180px;
	height: 95px;
	float: left;
	text-align: left;
}
.gc_credencial_titulo {
	height: 22px;
	padding: 7px 10px 0 0;
	font-size: 13px;
    color: #000;
    text-align: right;
}
.gc_credencial_valor {
	height: 30px;
	font-size: 13px;
    color: #000;
}
.gc_credencial_valor select {
	width: 107px;
	height: 25px;
}
.gc_credencial_valor input {
	width: 35px;
	height: 15px;
}
.gc_credencial_seccion_botones {
	clear: both;
	height: 30px;
}
.gc_credencial_margen_lateral_botones {
	width: 45px;
	height: 30px;
	float: left;
}
.gc_credencial_margen_medio_botones {
    width: 10px;
    height: 30px;
    float: left;
}
/********************************************************************************************************
	PARA LA VENTANA MODAL DONDE SE SELECCIONAN LOS CONCEJALES PARA GENERAR SUS CREDENCIALES
	gcg_ = Generacion de Credenciales para Concejales
********************************************************************************************************/
#dragger_credenciales {
    font-size: 13px;
    padding: 3px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
/* 31/07/2019 XXXX
Se agregó contenedoraSeleccionDefensoresParaCredenciales */
#contenedoraSeleccionConcejalesParaCredenciales,
#contenedoraSeleccionDefensoresParaCredenciales {
	width: 500px;
	padding: 5px;
	border: 1px solid #76A0CD;
	background-color: #DDD;
	margin: 0 auto;
}
.gcc_credencial_contenedora {
	clear: both;
	height: 320px;
}
.gcc_contenedora_listado_concejales {
	width: 400px;
	height: 320px;
	float: left;
	/**
	background-color: green;
	/**/
}
.gcc_contenedora_botones {
	width: 100px;
	height: 320px;
	float: left;
	/**
	background-color: yellow;
	/**/
}
.gcc_boton {
	float: left;
	margin-top: 10px;
}
.gcc_boton a img {
	vertical-align: middle;
}

.gcc_listado_concejales {
	height: 280px;
	overflow-y: auto;
	padding-top: 10px;
	background-color: #fff;
}
.gcc_fila_concejal {
	height: 25px;
	padding-top: 2px;
	border-bottom: 1px dotted #315299;
	/**
	background-color: yellow;
	/**/
}
.gcc_checkbox_y_nombre {
	width: 255px;
	height: 25px;
	float: left;
	padding-left: 10px;
	padding-top: 3px;
	/**
	background-color: red;
	/**/
}
.gcc_periodo {
	width: 110px;
	height: 25px;
	float: left;
	/**
	background-color: orange;
	/**/
}
.gcc_periodo input {
	width: 30px;
	height: 10px;
}
.gcc_texto {
	font-size: 11px;
	color: #000;
	text-align: left;
}

.gcc_contenedora_fecha_creacion {
	height: 25px;
	margin-top: 7px;
	font-size: 13px;
    color: #fff;
}
.gcc_contenedora_fecha_creacion select {
	width: 107px;
	height: 20px;
	color: #000;
}
.gcc_contenedora_fecha_creacion input {
	width: 35px;
	height: 10px;
	color: #000;
}
/********************************************************************************************************
	PARA EL CERTIFICADO DE TRABAJO DE EMPLEADOS
********************************************************************************************************/
#dragger_certificado_trabajo {
    font-size: 13px;
    padding: 3px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
#contenedoraPedidoInfoParaCertificadoTrabajo {
	width: 620px;
	padding: 5px;
	border: 1px solid #76A0CD;
	background-color: #DDD;
	margin: 0 auto;
}
#certificado_trabajo_destinatario {
	clear: both;
	padding: 15px 0 0 10px;
	font-size: 12px;
    color: #000;
    text-align: left;
}
#certificado_trabajo_destinatario input[type="text"] {
	width: 465px;
}
#certificado_trabajo_opciones {
	clear: both;
	padding: 10px 0 15px 10px;
	font-size: 12px;
    color: #000;
    text-align: left;
}
#certificado_trabajo_opciones input[type="radio"] {
	vertical-align: bottom;
    position: relative;
    top: -1px;
}
#certificado_trabajo_contenedora_cargos {
	clear: both;
	/**
	height: 100px;
	/**/
	font-size: 12px;
    color: #000;
    text-align: left;
}
.certificado_trabajo_listado_cargos_nombre {
	width: 217px;
	text-align: left;
	padding-left: 3px;
}
.certificado_trabajo_listado_cargos_fechas {
	width: 70px;
	text-align: center;
	padding: 0 3px 0 3px;
}
.certificado_trabajo_listado_cargos_nro_decreto_baja {
	width: 70px;
	text-align: right;
	padding-right: 3px;
}

#certificado_trabajo_contenedora_area_texto {
	clear: both;
	height: 200px;
	margin: 10px 0;
	text-align: center;
}
#certificado_trabajo_contenedora_area_texto textarea {
	width: 605px;
	height: 187px;
}

.certificado_trabajo_seccion_botones {
	clear: both;
	height: 30px;
}
.certificado_trabajo_margen_lateral_botones {
	width: 200px;
	height: 30px;
	float: left;
}
.certificado_trabajo_margen_medio_botones {
    width: 10px;
    height: 30px;
    float: left;
}
/*****************************************************************************
	PARA EL MENSAJE DE PERMISO DENEGADO
*******************************************************************************/
.contenedor_mensaje_permiso_denegado {
	width: 50%;
	padding: 10px;
	margin: 50px auto;
	font-family: Arial;
	font-size: 21px;
	text-align: center;
	color: #601819;
	background-color: #EC4757;
	border-radius: 5px;
}
/************************************************************************/
.div_alineado_izquierda {
	float: left;
}
.div_alineado_derecha {
	float: right;
}
.texto_alineado_izquierda {
	text-align: left;
}
.texto_alineado_derecha {
	text-align: right;
}
.degradado {
    background: #2A4187; /* NAVEGADORES ANTIGUOS */
    background: -moz-linear-gradient(center bottom, #2A4187 0pt, #3B69B1 100%) repeat scroll 0 0 transparent; /* FF3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2A4187', endColorstr='#3B69B1',GradientType=0 ); /* IE6-9 */
}
/*********************************************************************************************
behavior: url('http://hcd02.concejomdp.gov.ar/sgl/sgl_css/PIE.htc');

"behavior" es un atributo css propietario de Microsoft,
permite cargar archivos con scripts dentro de un archivo css.
Su uso más conocido es para manejar archivos png con transparencias en IE6.
Los scripts a los que apunta el behavior es un archivo htc.
/**********************************************************************************************
		FIN DE ESTILOS DE Personal
*************************************************************************************************/
