body {
	font-family: sans-serif !important;
}
h4,
.pdf-ficha-responsable {
	font-size: 16px;
}
.pdf-tabla {
	font-size: 13px;
}
.pdf-tabla th {
	text-align: left;
	padding-left: 2px;
	background-color: #e9ecef;
}
.pdf-tabla td {
	padding: 0 !important;
}
.pdf-fila-borde-inferior {
	border-bottom: 1px solid #000 !important;
}
.pdf-firmas {
	border-style: dotted none none none; 
	text-align: center; 
	font-size: 13px;
}

.pdf-ficha-tabla {
	border-collapse: separate;
	border-spacing: 5px;
	border: 1px solid #fff;
}
.pdf-ficha-activo-titulo {
	font-weight: bold;
	width: 200px;
	background-color: #f3f3f3;
}
.pdf-ficha-observaciones {
	font-weight: bold;
	background-color: #f3f3f3;
	height: 50px;
}