/****************************************************************************
	Aquí se define el CSS para los reportes del sistema.
	La clase HTML2PDF no soporta el CSS de Bootstrap
	por ello se define el siguiente CSS sólo para los reportes.
****************************************************************************/
table {
	padding: 0;
	border-collapse: collapse;
}
.pdf_text_left {
	text-align: left;
}
.pdf_text_right {
	text-align: right !important;
}
.pdf_text_center {
	text-align: center;
}
.pdf_texto_gris {
	color: #737373;
}
.pdf_pt_10 {
	padding-top: 10px;
}
.pdf_px_10 {
	padding-left: 10px;
	padding-right: 10px;
}
.pdf_mt_10 {
	margin-top: 20px;
}
.pdf_ml_10 {
	margin-left: 10px;
}
#pdf_encabezado {
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 1px solid #737373;
	font-size: 12px;
}
#pdf_encabezado_logo {
	width: 2%;
	text-align: left;
}
#pdf_encabezado_mgp_hcd {
	width: 49%;
	padding-left: 10px;
}
#pdf_encabezado_nombre_sistema {
	width: 49%;
	padding-right: 10px;
	text-align: right;
}
#pdf_pie {
	width: 100%;
	padding-top: 5px;
	border-top: 1px solid #737373;
}
#pdf_pie tr td {
	width: 50%;
	text-align: center;
}

.pdf_separador {
	height: 1px;
	margin-top: 2px;
	background-color: #737373;
}
.pdf_tabla_cuerpo_reporte {
	width: 100%;
	font-family: Arial;
	font-size: 11px;
}
.pdf_tabla_cuerpo_reporte th {
	font-size: 10px;
	background-color: #d9d9d9;
}
.pdf_criterio_busqueda_dato {
	width: 50%;
	text-align: left;
	padding-left: 5px;
}
.pdf_ficha_expediente {
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid #737373;
}
.pdf_ficha_label {
	padding: 5px;
	background-color: #e6e6e6;
	font-size: 12px;
}
.pdf_ficha_valor {
	padding: 5px;
	font-size: 12px;
}