/***************************************************************************
    14/03/2019 XXXX, XXXX
    CSS propio para Marca de Expedientes en Comisión
    el cual es incluído en la vista BEMarcaComisionViewActionListado
***************************************************************************/
#grillaExpedientesAMarcar thead,
#grillaExpedientesAMarcar tbody,
#grillaExpedientesAMarcar tr,
#grillaExpedientesAMarcar td,
#grillaExpedientesAMarcar th {
    display: block;
}
#grillaExpedientesAMarcar tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
#grillaExpedientesAMarcar tbody {
    height: 375px;
    overflow-y: auto;
}
#grillaExpedientesAMarcar tbody td,
#grillaExpedientesAMarcar thead th {
    width: 7.501%;
    float: left;
}
#grillaExpedientesAMarcar tbody tr td {
    border: 0;
}
.mc_nombre_marca {
   width: 380px !important;
}
.mc_valor_marca {
    width: 55px !important;
}
/*  MEDIA QUERY PARA MÓVILES (RESOLUCION DE HASTA 768px DE ANCHO)
******************************************************************************************/
@media only screen and (max-width: 768px) {
    #grillaExpedientesAMarcar tbody td,
    #grillaExpedientesAMarcar thead th {
        width: 19%;
    }
    .mc_nombre_marca {
       width: 120px !important;
    }
    .mc_valor_marca {
        width: 20px !important;
    }
}
