/* ---------------------------------------------------------------------------
La clase HTML2PDF no soporta el CSS de Bootstrap
Por ello se define el siguiente CSS sólo para el documento a generar en PDF.
-----------------------------------------------------------------------------*/
table {
	padding: 0;
	border-collapse: collapse;
}
.pdf_text_left {
	text-align: left;
}
.pdf_text_right {
	text-align: right !important;
}
.pdf_text_center {
	text-align: center;
}
.pdf_texto_gris {
	color: #737373;
}
#pdf_encabezado {
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 1px solid #737373;
	font-size: 12px;
}
#pdf_encabezado_logo,
.pdf_pie_logo {
	width: 2%;
	text-align: left;
}
#pdf_encabezado_mgp_hcd {
	width: 49%;
	padding-left: 10px;
}
#pdf_encabezado_nombre_sistema {
	width: 86%;
	padding-right: 20px;
	text-align: right;
}
#pdf_pie {
	width: 100%;
	padding-top: 5px;
	border-top: 1px solid #737373;
}
#pdf_pie_info {
	width: 80%;
	font-size: 12px;
	text-align: center;
}
.pdf_separador {
	height: 1px;
	margin-top: 2px;
	background-color: #737373;
}
.pagebreak {
	display: block;
	clear: both;
	page-break-after: always;
}