/* ---------------------------------------------------------------------------------
CSS propio del Sistema de Expedientes, que complementa al CSS de Bootstrap v.3.3.7
-----------------------------------------------------------------------------------*/
.margen_sup_5 {
  margin-top: 5px;
}
.margen_sup_10 {
	margin-top: 10px;
}
.margen_sup_20 {
  margin-top: 20px;
}
.margen_sup_23 {
  margin-top: 23px;
}
.margen_inf_10 {
  margin-bottom: 10px;
}
.margen_y_5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margen_y_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margen_x_10 {
  margin: 0 10px;
}
.padding_10 {
  padding: 10px;
}
.padding_5 {
  padding: 5px;
}
.texto_recortado {
  width: 100px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.scroll_vertical_auto {
  overflow-y: auto;
}
.max_h_300 {
  max-height: 300px;
}
.max_h_250 {
 max-height: 250px; 
}
.display_none {
  display: none;
}
.listas_firmantes, .listas_revisores {
  height: 216px;
  background-color: #fff;
}
.listas_destinatarios {
  height: 136px;
  background-color: #fff;
}

/* Shake de icono de notificacion */
.actuacion-alert-icon {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;

  color: red !important;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
